<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>168082697079-5mhsd62g6olne23cjrd6n2pkab90fc7s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.168082697079-5mhsd62g6olne23cjrd6n2pkab90fc7s</string>
	<key>API_KEY</key>
	<string>AIzaSyAnD5Uv-MYdjBDnDDuSZLENMOgxwG7Fuf0</string>
	<key>GCM_SENDER_ID</key>
	<string>168082697079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>iti.Cartly</string>
	<key>PROJECT_ID</key>
	<string>cartly-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>cartly-ios.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168082697079:ios:006279ac1e363e81c34f72</string>
</dict>
</plist>